@charset "UTF-8";

/***************************************************
			FONTS
****************************************************/
@font-face {
	font-family: creamCake;
	src: url("../../fonts/CreamCake.ttf") format("truetype");
}
@font-face {
	font-family: CaviarDreams;
	src: url("../../fonts/CaviarDreams.ttf") format("truetype");
}
@font-face {
	font-family: PeintureFraiche;
	src: url("../../fonts/PeintureFraiche.ttf") format("truetype");
}
@font-face {
	font-family: UrbanHeroes;
	src: url("../../fonts/UrbanHeroes.ttf") format("truetype");
}

/***************************************************
			NAVBAR
****************************************************/
.auctionNavbar {
	position: sticky;
	top: -1px;
	z-index: 100;
	padding: 0 .5em;
	border-bottom: 2px solid #B91439;
	margin-bottom: 50px;
	border-radius: 0;
}

.navFlex {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.navLogoEtAdmin {
	display: flex;
}
a.navbar-brand {
	margin-top: .3rem;
	margin-bottom: .3rem;
}

@media screen and (max-width: 992px) {
  a.navbar-brand img {
	display: none!important;
  }
}

/***************************************************
			FOOTER
****************************************************/
.auctionFooter {
	border-top: 2px solid #B91439;
	background-color: #f2f2f2;
	padding: 25px;
	margin-top: 3em;
}

/***************************************************
			MESSAGE ALERT
****************************************************/
.auctionAlert {
	margin-top: 2em;
	width: 70%;
	margin: auto;
}

/***************************************************
			AFFICHAGE ADMIN
****************************************************/
@keyframes adminTextAnim {
  from {color: #fff; background-color:#000;}
  to	{color: #000; background-color:#fff;}
}
.auctionAdmin {
	font-weight: bold;
	border-radius: .2em;
	animation: adminTextAnim 1s ease-in-out infinite alternate;
}
