@charset "UTF-8";

/***************************************************
			PAGE DEMO
****************************************************/
.mainContainer {
    background: linear-gradient(to bottom right, rgba(243, 196, 124, 0.5), rgba(44, 25, 31, 0.5)), url("../vendor/Patterns/circles-light.png");
    font-family: "Linux Biolinum G","Fira Code", sans-serif;
    height: 100%;
    min-height: 95vh;
    width: 100%!important;
    padding: 2em 1em;
}
.mainContainer a.entree {
/* 	transition: 1s; */
	display: inline-block;
	font-size: 2em;
	margin: 0 auto 2rem auto;
	padding: .5em 3rem;
	background-color: rgba(255,255,255,.5);
	text-align: center;
	border-radius: .2em;
	border: 1px solid rgba(0,0,0,.7);
	animation: entreeTextAnim 3s ease-in-out infinite alternate;
}
@keyframes entreeTextAnim {
  from {color: #05458a; background-color:rgba(0,0,0,.1); border-color: rgba(0,0,0,.7);}
  
  to	{color: #64abf7; background-color:rgba(0,0,0,.7); border-color: rgba(0,0,0,0);}
}
.mainContainer a.entree:hover {
	text-decoration: none;
/* 	transition: 2s; */
	background-color: rgba(255,255,255,.8);
	animation: none;
}
.accueilGo {
	display: flex;
	flex-flow: row nowrap;
}

.pictosTeam {
	margin-top: 5em;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.pictosTeam img {
	width: 10rem;
	object-fit: cover;
	margin: 2em;
	border-radius: .5rem;
}
.logoTeam {
	margin-bottom: 2em;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.logoTeam img {
	
}

@media screen and (max-width: 928px) {
  .pictosTeam img {
	margin: .5rem;
  }
}
@media screen and (max-width: 384px) {
  .pictosTeam img {
	width: 9rem;
  }
  .mainContainer a.entree {
	margin-bottom: 4rem;
	padding: .5em 3rem;
	animation: entreeTextAnim 1s ease-in-out infinite alternate;
  }
}
@media screen and (max-width: 350px) {
  .pictosTeam img {
	width: 100%;
  }
}

/***************************************************
			ACCUEIL
****************************************************/
.acceuilBodyContainer {
    background: url("../vendor/Patterns/circles-light.png");
}
.auctionEnteteAccueil {
    background-image: linear-gradient(to bottom right, rgba(12, 157, 203, 0.5), rgba(12, 203, 67, 0.5)), url("../images/auction2.jpg");
/*     background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
/*     background-size: 100vw; */
    border-radius: 0;
    padding: 1rem 0;
}
.jumboH1 {
	display: inline-block;
 	padding: .3em;
	margin: 0 auto;
	border-radius: .1em;
	background: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
	font-family: PeintureFraiche, sans-serif, serif;
	font-size: 4em;
	text-shadow: 1px 1px 5px rgba(255,255,255,.5), 1px -1px 5px rgba(255,255,255,.5), -1px 1px 5px rgba(255,255,255,.5), -1px -1px 5px rgba(255,255,255,.5);
}
.jumboH1 span {
	font-family: UrbanHeroes,CaviarDreams,PeintureFraiche,creamCake, sans-serif, serif;
	font-size: .5em;
}
.jumboMarteau {
	position: relative;
	top: -2rem;
}
.jumboPictos {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.jumboPictos img {
	display: block;
	background-color: rgba(0,0,0,.5);
	width: 4em;
	margin: 0 .5em;
	padding: .5em;
	border-radius: 5%;
}
.auctionFiltres {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
	margin: 1em;
}
.auctionFiltres p {
	font-size: 1.5em;
	margin-left: 1em;
}
.auctionFiltres form {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.filtresSelect, .auctionFiltres button {
	width: 10em;
	color: #007bff;
	background-color: #fff;
	padding: .5rem;
	border: 1px solid #dee2e6;
	border-radius: 0.25rem;
	margin-left: 1em;
	margin-left: 1em;
}

@media screen and (max-width: 1024px) {
  .jumboH1 {
	font-size: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .jumboH1 {
	font-size: 2.2rem;
  }
  .jumboMarteau {
    top: -1rem;
  }
  .jumboPictos img {
    width: 3em;
    margin: 0 .3em;
    padding: .3em;
    border-radius: 5%;
  }
}

/***************************************************
			ARTICLES
****************************************************/
.articleDisplay {
	padding:1%;
}
.articleContent {
/* 	padding: .5em; */
	border-radius: .3em;
/* 	background-color: #8ae234; */
	background-color: 	rgba(138, 226, 52, .2);
/* 	border: 1px solid #626262; */
}
.articleEntete {
	padding: .5em;
	text-align: center;
/* 	border-bottom: 1px solid #fff; */
/* 	background: linear-gradient(to bottom right, rgba(12, 157, 203, 0.3), rgba(12, 203, 67, 0.3)); */
/* 	background: linear-gradient(to bottom, #7fe8e2, #bde892); */
	background: linear-gradient(to bottom, #93e2b9, #e8f3dd);
/* 	color: #93e2b9; */
	border-radius: .3em .3em 0 0;
}
.articleDescription {
	padding: .5em;
}
.articleDescription2 {
	height: 15em;
	padding: .3rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
/* 	background-color: #e8f3dd; */
}
.catEtDescription {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
}
.catArticle2 {
	display: inline-block;
	margin: auto;
	font-weight: bold;
	margin-left: 1em;
	margin-bottom: .3rem;
	padding: .2em .8em .1em .8em;
	border-radius: .2em;
	color: #2134ae;
/* 	background-color: #cbe5ff; */
	background-color: #93e2b9;
/* 	background: linear-gradient(to bottom right, rgba(12, 157, 203, 0.3), rgba(12, 203, 67, 0.3)); */
}
.articleDescriptionContenu {
	margin-bottom: 0;
	line-height: 1.2rem;
	height: 11rem;
	overflow: auto;
}
.pNomVendeur {
	margin-bottom: 0;
/* 	text-align: right; */
	padding-right: .5rem;
}
.pNomVendeur>a.nomVendeur {
	transition: 1s;
	font-weight: bold;
	font-style: italic;
	padding: .2rem;
	border-radius: .2rem;
	color: #2134ae;
/* 	background: linear-gradient(to bottom right, rgba(12, 157, 203, 0.3), rgba(12, 203, 67, 0.3)); */
	background-color: #93e2b9;
}
.pNomVendeur>a.nomVendeur:hover {
	transition: .2s;
	background-color: #2134ae;
	color: #dadada;
	text-decoration: none;
}
.catArticle {
	display: inline-block;
	margin: auto;
	font-weight: bold;
	margin-left: 1em;
	padding: .2em .8em .1em .8em;
	border-radius: .2em;
	color: #2134ae;
	background-color: #cbe5ff;
}
.articlePied {
	padding: .5em 1em;
	background: linear-gradient(to bottom, #e8f3dd, #93e2b9);
	border-radius: 0 0 .3em .3em;
}
.unArticle {
	display: flex;
	flex-flow: row nowrap;
/* 	background-color: #e8f3dd; */
	background-color: #e8f3dd;
}
.unArticle img {
    height: 15em;
    width: 15em;
    object-fit: cover;
}
.articlesPagination {
	display: flex!important;
	justify-content: center!important;
}

@media screen and (max-width: 1024px) {
  .unArticle img {
    width: 10em;
  }
}
@media screen and (max-width: 992px) {
  .unArticle {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .articleDescriptionContenu {
	height: 7rem;
  }
  .articleDescription2 {
	height: 12rem;
	overflow: auto;
  }
	.unArticle {
	flex-direction: column;
  }
  .unArticle img {
    width: 100%;
  }
  .articleEntete {
    height: 4rem;
  }
  .articleContent {
    padding: 0;
  }
}
@media screen and (max-width: 575px) {
  .articleDisplay {
    padding: .5rem 1rem;
  }
  .articleDescriptionContenu {
	height: auto;
  }
  .articleDescription2 {
	height: auto;
  }
}
 
 